@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");

body {
  margin: 0;
  font-family: sans-serif;
  /* background-image: url("../img/background.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

footer {
  margin-top: auto;
  font-family: "MuseoModerno", sans-serif; /* Adicionando a fonte MuseoModerno ao footer */
}

.navbar {
  width: 100%;
  text-align: center;
  font-family: "MuseoModerno", sans-serif; /* Adicionando a fonte MuseoModerno à navbar */
}

.navbar .navbar-brand {
  text-align: center;
  display: inline-block;
  padding: 10px;
  color: rgb(190, 186, 186);
}
